@model Challenge.Models.Inscripcion

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Inscripción</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumno.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Nombre)
        </dd>
        <dt>
            @Html.DisplayName("Estado de la cursada")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCursada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.InscripcionID }) |
    @Html.ActionLink("Volver", "Index")
</p>
