<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecso Challenge</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Alumnos", "Index", "Alumno")</li>
                    <li>@Html.ActionLink("Cursos", "Index", "Curso")</li>
                    <li>@Html.ActionLink("Inscripciones", "Index", "Inscripcion")</li>
                    <li>@Html.ActionLink("Reporte Alumnos Por Curso", "ReporteAlumnosPorCurso", "Reporte")</li>
                    <li>@Html.ActionLink("Reporte Cursos Por Alumno", "ReporteCursosPorAlumno", "Reporte")</li>
                    <li>@Html.ActionLink("Logs", "Index", "TecsoLog")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&#128512; Tecso Challenge</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
